@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './buttons.css';
@import './input.css';
@import './checkbox.css';
@import './colors.css';
@import './search.css';
@import './list.css';
